@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ysabeau+SC:wght@1..1000&display=swap');

:root {
    --azul: #00125e;
    --rosa: #ef0394;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Ysabeau SC", serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    margin-top: 0px;
    background-color: white;
}

.logo {
    font-family: "Orbitron", serif;
    font-size: 30px;
    display: flex;
    margin-left: 10%;
    flex: 30%;
    /* border: 1px solid black; */
    color: var(--azul);
    text-align: left;
    align-items: center;
}

.barra_menu {
    display: none;
}

.menu {
    flex: 50%;
    margin-right: 10%;
    /* border: 1px solid green; */
    text-align: right;
    word-spacing: 20px;

}

.menu a {
    text-decoration: none;
    color: var(--azul);
    font-size: 20px;
}

.menu a:hover {
    border-top: var(--rosa) 4px solid;
    border-radius: 3px;
}

#botao {
    background-color: var(--azul);
    color: white;
    padding: 7px;
}

#botao:hover {
    border: none;
    background-color: var(--rosa);
    color: var(--azul);
}

.header {
    display: flex;
    flex-flow: row wrap;
    padding-top: 100px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.headline {
    text-align: center;
    /* border: 1px solid black; */
    width: 100%;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 0px;
    color: var(--azul);
}

.headline1 {
    margin-top: 0px;
    font-size: 50px;
    color: var(--azul);
    font-weight: bold;
}

.headline_2 {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline_p {
    width: 40%;
    margin-left: 10%;
    font-size: 19px;
}

.headline_img {
    width: 40%;
    margin-right: 10%;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5%;
}

.card1 {
    margin: 1%;
    display: inline-block;
    width: 25%;
    padding: 20px;
    border: var(--rosa) 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    cursor: pointer;
}

.card2 {
    margin: 1%;
    display: inline-block;
    width: 25%;
    padding: 20px;
    border: var(--rosa) 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    cursor: pointer;
}

.card3 {
    margin: 1%;
    display: inline-block;
    width: 25%;
    padding: 20px;
    border: var(--rosa) 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    cursor: pointer;
}

.oculto1 {
    display: none;
}

.oculto2 {
    display: none;
}

.oculto3 {
    display: none;
}

.card1:hover .texto1 {
    display: none;
}

.card1:hover .oculto1 {
    display: block;
    color: white;
}

.card1:hover {
    background-color: var(--rosa);
    padding-top: 40px;
}

.card2:hover .texto2 {
    display: none;
}

.card2:hover .oculto2 {
    display: block;
    color: white;
}

.card2:hover {
    background-color: var(--rosa);
    padding-top: 40px;
}

.card3:hover .texto3 {
    display: none;
}

.card3:hover .oculto3 {
    display: block;
    color: white;
}

.card3:hover {
    background-color: var(--rosa);
    padding-top: 40px;
}

.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.rodape {
    border-top: 5px solid var(--rosa);
    background-image: linear-gradient(var(--azul), black);
    padding: 100px;
}

.logo_rodape {
    font-family: "Orbitron", serif;
    font-size: 25px;
    display: block;
    /* border: 1px solid red; */
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.p_rodape {
    font-size: 17px;
    display: block;
    /* border: 1px solid red; */
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}

.©_rodape {
    font-size: 17px;
    display: block;
    /* border: 1px solid red; */
    color: white;
    width: 100%;
    text-align: center;
}